html, body {
  font-family: 'Museo Sans', sans-serif;
  font-weight: 900;
  height:100%;
  overflow: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body { 
  position: relative;
}
h1 {
  color: white;
  text-shadow: -2px 2px rgb(37, 37, 37);
  font-family: 'Museo Sans', sans-serif;
  font-weight: 900;
  font-size:8vw;
}
.carousel-indicators {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: 1px;
  margin-bottom: 4px;
  z-index: 9999;
}
.carousel-indicators .bg-img:hover {
  transform: scale(0.95);
}
.carousel {
  margin-top:-50px;
  height:100%;
  width:100%
}
.carousel-inner {
  height: 100%;
}
.caption1 {
  top: 50%; 
  -webkit-transform: translate(0%, -50%); 
  position: absolute;
  margin-left: 5%;
  margin-right: 300px;
}
.caption2 {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.carousel-item {
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.17);
  content: '';
  z-index: -1;
}
.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.carousel-control-prev, .carousel-control-next {
  margin-top: 50px;
}
.bg-img {
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  max-width: 100%;
  height: 100%;
}
.bg-img2 {
  position:absolute;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#202020;
  max-width: 100%;
  height: 100%;
}
.slide-text:hover a {
  transform: scale(0.93);
}
.navbar {
  z-index: 999;
  height:50px
}
.navbar-brand {
  font-size: 20px;
}
.nav-link {
  font-size: 18px;
  text-transform:uppercase;
  color: #ffffffb4;
  padding: 0 25px;
  transition: transform 300ms ease-out;
}
.nav-link:hover {
  transform: scale(1.1);
  color: #fff;
}
.navbar-nav > .active > a {
  color: white;
  pointer-events: none; 
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;   
}
.slide-text {
  align-items:center;
  width: 100%;
  padding: 30px 0px 15px;
  margin-left: 130px;
  margin-top: 45px;
}
.slide-text2 {
  align-items: center;
  padding: 25px 30px 15px;
  margin-top: 45px;
  
}